@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;500;700&display=swap");

@import "global.css";
@import "components/card.css";
@import "components/header.css";

footer nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid #11270b;
  background-color: #fff;
}

footer nav a {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 1rem 0;
}

footer nav a:active,
footer nav a svg:active,
footer nav a:focus,
footer nav a svg:focus {
  background-color: #069e2d;
  fill: #fff !important;
}

footer nav a svg {
  height: 40px;
  width: 40px;
}
