@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;500;700&display=swap");

@import "global.css";
@import "components/card.css";

/* Header */

.header {
  position: sticky;
  top: 0;
  height: 4.5rem;
  text-align: center;
  background-color: #069e2d;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.header__title {
  margin: 0;
  padding: 1rem 0;
  color: #eeecec;
  font-family: "Fredoka One", cursive;
  -webkit-text-stroke: 1px #1c572a;
}

/* Footer */

.footer__nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid #11270b;
  background-color: #fff;
}

.footer__nav__link {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 1rem 0;
  fill: #11270b;
}

.footer__nav__link:active,
.footer__nav__link__icon:active,
.footer__nav__link:focus,
.footer__nav__link__icon:focus,
.footer__nav__link:hover,
.footer__nav__link__icon:hover {
  background-color: #069e2d;
  fill: #fff !important;
}

.footer__nav__link__icon {
  height: 40px;
  width: 40px;
}
